Repository shahadathhs/nestjs-prisma-aws-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: npx run lint:fix, npx run format:fix

feat: merge vided status endpoint completed
  src/lib/file/services/s3.service.ts
  src/main/upload/upload.controller.ts
  src/main/upload/upload.service.ts
Due: npx run lint:fix, npx run format:fix

feat: fixing create merge job
  src/lib/file/services/s3.service.ts
Due: npx run lint:fix, npx run format:fix

feat: merge two video completed
  src/lib/file/services/s3.service.ts
  src/main/upload/upload.service.ts
Due: npx run lint:fix, npx run format:fix

feat: merge multiple video completed
  src/lib/file/services/s3.service.ts
  src/main/upload/upload.service.ts
Due: npx run lint:fix, npx run format:fix

feat: merge multiple video completed
  src/lib/file/services/s3.service.ts
Due: npx run lint:fix, npx run format:fix

chore: fixed lint stage check
  .lintstagedrc
Due: none

Notes added by 'git notes add'
  652d8225546c0aabd4f3300a566e70c0dbdbf984
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npx run format:fix

Notes added by 'git notes add'
  98bebfe6af154656b52cfc6fe209f733a83972b2
Due: none

feat: reconfigure backup setup
  BACKUP_README.md
  Dockerfile.backup
  backup/Dockerfile
  backup/backup.sh
  backup/restore.sh
  backup/run-cron.sh
  compose.dev.yaml
  compose.yaml
  scripts/backup-database.sh
  scripts/backup-monitor.sh
  scripts/backup.env
  scripts/restore-database.sh
Due: npx run format:fix

feat: backup system ongoing
  Makefile
  backup/Dockerfile
  backup/backup-database.sh
  backup/restore-database.sh
  backup/restore.sh
  backup/run-cron.sh
  compose.yaml
  docs/BACKUP_SYSTEM.md
Due: npx run format:fix

feat: documentation updated
  README.md
  docs/COMMANDS.md
  docs/DEPLOYMENT.md
  docs/FEATURES.md
  docs/FILE_UPLOAD.md
  docs/PROJECT_STRUCTURE.md
  docs/SETUP_INSTALLATION.md
Due: npx run format:fix

docs: documentation completed
  .env.example
  README.md
Due: npx run format:fix

fix: fixing build error of docker image & fixing backup setup
  .npmrc
  Makefile
  backup/Dockerfile
  backup/run-cron.sh
  compose.yaml
  docs/BACKUP_SYSTEM.md
  docs/PROJECT_STRUCTURE.md
  package.json
Due: npx run format:fix

feat: backup folder restructure
  .env.example
  .npmrc
  Makefile
  backup/backup-database.sh
  backup/restore-database.sh
  backup/scripts/backup-list.sh
  backup/scripts/backup-manual.sh
  backup/scripts/backup-restore.sh
  compose.yaml
  package.json
Due: npx run format:fix

feat: backup setup refactor
  .github/workflows/ci-cd.yml
  Makefile
  backup/Dockerfile
  backup/scripts/backup-database.sh
  backup/scripts/backup-list.sh
  backup/scripts/backup-manual.sh
  backup/scripts/backup-restore.sh
  backup/scripts/manage.sh
  backup/scripts/restore-database.sh
  backup/scripts/run-cron.sh
Due: none

Path conditions:
  npx run lint:fix: any of: *.{js,ts,jsx,tsx}
  npx run format:fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
